body {
	background: url("../images/background.png");
	color: white;
	padding-bottom: 150px;
	font-family: 'Oswald', sans-serif;
}

.pageTitle {
	border-style: solid;
	border-color: white;
	border-width: 3px;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	font-size: 30px;
	padding: 10px;
}

.leftStatColumn, .rightStatColumn {
	padding: 10px;
	margin: 15px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	width: 225px;
}

.leftStatColumn {
	background-color: rgba(0,64,0, .5);
}

.rightStatColumn {
	background-color: rgba(127,0,0, .5);
}

.characterProfileImg {
	height: 70px;
	width: 65px;
	margin: auto;

	padding: 3px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.gridMap {
	height: 60px;
	width: 60px;
	float: left;

	border-style: solid;
	background-color: rgba(255,255,255,.3);
	border-width: 1px;

	background-color: #0b254f;
}

.grass {
/*	background-color: green;*/
	background: url("../images/grass.jpg");
}

.sand {
/*	background-color: gray;*/
	background: url("../images/sand.jpg");
}

.gridMapEndRow {
	clear: both;
}

p {
	text-align: center;
	line-height: 1.2;
}

.gridMapWhole {
	margin: 0px auto;
	width: 360px;
	margin-top: 20px;
	margin-bottom: 40px;

}

.navbar-fixed-bottom {
	text-align: center;
	padding-top: 15px;
	color: white;
	font-size: 16px;
	background-color: rgba(0,0,0, 1);
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 2px;
}

.charOnGrid {
	height: 40px;
	padding: 3px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	margin-top: 10px;

}

.btnRow {
	background-color: rgba(0,0,0,.3);
	border-style: solid;
	border-color: white;
	border-width: 3px;
	padding: 5px;
	margin: 0 auto;
	margin-top: -30px;
	width: 360px;
	overflow: auto;
}

.endTurnBtn {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.battleLogArea {
	background-color: rgba(0,0,0,.3);
	border-style: solid;
	border-color: white;
	border-width: 3px;
	height: 300px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 98%;
}

.battleLog {
	overflow-y: scroll;
	height: 300px;
}

.turnPlayer, .turnEnemy {
	float: left;
	font-size: 27px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
}

.turn {
	background-color: rgba(255,255,255, .4);
}
